<div class="container p-3 my-3 text-white" style="text-align: left; width:100%; 
margin-top: 50px;">
    <h1 style="color: antiquewhite;">Robot Status & Info</h1>
    <!-- <p>This container has a blue background color and a white text, and some extra padding and margins.</p> -->
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item">
          State - {{statusFirebaseData.status}}
        </li>
        <li class="list-group-item">
          Time Running - {{ timer | date:'mm:ss:SSS'}}
        </li>
        <li class="list-group-item">
          Speed - {{statusFirebaseData.speed}} m/s
        </li>
        <li class="list-group-item">
          Progress - {{statusFirebaseData.progress}}/7
        </li>
      </ul>
  </div>