<div class="container p-3 my-3 text-white" style="text-align: left; width:100%; 
margin-top: 50px;">
    <h1 style="color: antiquewhite;">Robot Status & Info</h1>
    <!-- <p>This container has a blue background color and a white text, and some extra padding and margins.</p> -->
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item">
          State - {{statusFirebaseData.status}}
        </li>
        <li class="list-group-item">
          Time Running - {{ timer | date:'mm:ss:SSS'}}
        </li>
        <li class="list-group-item">
          Speed - {{statusFirebaseData.speed}} m/s
        </li>
        <li class="list-group-item">
          Progress - {{statusFirebaseData.progress}}/7
          
          <app-progress-indicator [progress]="statusFirebaseData.progress"></app-progress-indicator>
        </li>
      </ul>
      <!-- <li class="list-group-item" style="width: 700; align-items: center;">
        <video controls width="640" height="400" allow="autoplay">
          <source src="../../assets/Hackathon - Video Introducción Equipo-20230918_103153-Meeting Recording.mp4" type="video/mp4" />
            Browser not supported
        </video>
      </li> -->
  </div>
</div>