<div class="container p-3 my-3 bg-info text-white" style="text-align: left; width:100%; 
background: #e3e7e8;
margin-top: 50px;">
    <h1>Robot Status & Info</h1>
    <!-- <p>This container has a blue background color and a white text, and some extra padding and margins.</p> -->
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item">
          State - Turning right
        </li>
        <li class="list-group-item">
          Time Running - 00:00:33
        </li>
        <li class="list-group-item">
          Speed - 7 m/s
        </li>
        <li class="list-group-item">
          Progress - 3/7
        </li>
      </ul>
  </div>
